<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Platitech Limited</title>
    <!-- CSS -->
    <!-- Bootstrap & FontAwesome & Entypo CSS -->
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="../assets/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!--[if IE 7]>
    <link type="text/css" rel="stylesheet" href="../assets/css/font-awesome-ie7.min.css">
    <![endif]-->
    <link href="../assets/css/font-entypo.css" rel="stylesheet" type="text/css">

    <!-- Fonts CSS -->
    <link href="../assets/css/fonts.css" rel="stylesheet" type="text/css">

    <!-- Theme CSS -->
    <link href="../assets/css/theme.min.css" rel="stylesheet" type="text/css">
    <!--[if IE]>
    <link href="../assets/css/ie.css" rel="stylesheet"> <![endif]-->
    <link href="../assets/css/chrome.css" rel="stylesheet" type="text/chrome">
    <!-- chrome only css -->

    <!-- Responsive CSS -->
    <link href="../assets/css/theme-responsive.min.css" rel="stylesheet" type="text/css">

    <!-- Custom CSS -->
    <link href="../assets/custom/custom.css" rel="stylesheet" type="text/css">
    <!-- Head SCRIPTS -->
</head>
<body>


<!-- Middle Content Start -->
<div class="vd_content-section clearfix">
    <div class="row center-block">
        <div class="col-9">
            <div class="panel widget light-widget">
                <div class="panel-body" style="padding:40px;">
                    <div class="pull-right text-right">
                        <h3 class="font-semibold mgbt-xs-20">INVOICE</h3>

                        <table class="table table-bordered">
                            <tr>
                                <th>Invoice No.</th>
                                <th>Date</th>
                            </tr>

                            <!---StartInject-->


                        <!---EndInject-->
                        </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- panel-body -->

            </div>
            <!-- Panel Widget -->
        </div>
    </div>
    <!-- row -->

</div>
<!-- .vd_content-section -->


</body>
</html>